[class^="bbicon-"],
[class*=" bbicon-"] {
    display: inline-block;
    width: 16px;
    height: 16px;
    *margin-right: .3em;
    line-height: 16px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.bbicon-blocker {
    background-image: url("img/blocker.png");
}
.bbicon-bug {
    background-image: url("img/bug.png");
}
.bbicon-critical {
    background-image: url("img/critical.png");
}
.bbicon-enhancement {
    background-image: url("img/enhancement.png");
}
.bbicon-major {
    background-image: url("img/major.png");
}
.bbicon-minor {
    background-image: url("img/minor.png");
}
.bbicon-proposal {
    background-image: url("img/proposal.png");
}
.bbicon-task {
    background-image: url("img/task.png");
}
.bbicon-trivial {
    background-image: url("img/trivial.png");
}

[class^="bblabel-"],
[class*=" bblabel-"] {
    background-color: #fff;
    border-radius: 3px;
    font-size: 11px;
    padding: 2px 5px 1px 5px;
}

span.bblabel-new {
    border: 1px solid #e4e8ed;
    color: #4a6785;
}

span.bblabel-open {
    border: 1px solid #ccc;
    color: #333
} 

span.bblabel-resolved {
    border: 1px solid #b2d8b9;
    color: #14892c;
}

span.bblabel-on.hold {
    border: 1px solid #ffe28c;
    color: #594300;
}

span.bblabel-invalid {
    border: 1px solid #f8d3d1;
    color: #d04437;
}

span.bblabel-duplicate {
    border: 1px solid #ece7e2;
    color: #815b3a;
}

span.bblabel-wontfix {
    border: 1px solid #f8d3d1;
    color: #d04437;
}